.aboutExact {
  padding: 60px 0;
  background: #fff;
}

.aboutExact__wrap {
  max-width: 1250px;
  margin: auto;
  display: grid;
  padding: 16px;
  grid-template-columns: 1fr 1.1fr;
  gap: 100px;
  align-items: center;
}

/* LEFT SIDE */
.aboutExact__images {
  position: relative;
}

.aboutExact__images .img {
  border-radius: 22px;
  overflow: hidden;
}

.aboutExact__images img {
  width: 100%;
  display: block;
}

.img--back {
  width: 78%;
  opacity: 0.9;
}

.img--front {
  width: 85%;
  position: absolute;
  left: 40px;
  top: 40px;
}

/* WHITE CIRCLE */
.playCircle {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.playCircle span {
  width: 16px;
  height: 16px;
  background: linear-gradient(90deg,
      #E01C08 0%,
      #B11101 50%,
      #E01C08 100%);
  border-radius: 50%;
}

/* RIGHT SIDE */
.aboutExact__content .tag img {
  margin-right: 6px;
}

.aboutExact__content {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #222629;
  display: inline-block;
}

.aboutExact__content h1 {
  font-size: 46px;
  line-height: 1.15;
  margin: 18px 0px;
}

.aboutExact__content h1 span {
  color: #e30613;
}

.aboutExact__content p {
  max-width: 520px;
  color: #666;
  margin-bottom: 32px;
}

/* EXPERIENCE */
.experience {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-bottom: 18px;
}

.experience img {
  width: 118px;
  height: 80px;
  border-radius: 14px;
  object-fit: contain;
}

.experience p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #222629;
}

/* CTA */
.ctaBox {
  background: #f7f7f7;
  border-radius: 20px;
  padding: 22px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.callInfo {
  display: flex;
  gap: 14px;
  align-items: center;
}

.callIcon {
  width: 52px;
  height: 52px;
  background: linear-gradient(90deg,
      #E01C08 0%,
      #B11101 50%,
      #E01C08 100%);
  color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.callInfo span {
  font-size: 14px;
  color: #777;
}

.callInfo b {
  display: block;
  font-size: 16px;
}

.ctaBtn {
  background: linear-gradient(90deg,
      #E01C08 0%,
      #B11101 50%,
      #E01C08 100%);
  color: #fff;
  border: none;
  padding: 14px 26px;
  border-radius: 30px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 1024.1px) {
  .aboutExact__wrap {
    grid-template-columns: 1fr;
  }

  .img--front {
    position: relative;
    left: 0;
    top: 20px;
  }

  .playCircle {
    display: none;
  }

  .aboutLeftImages {

    left: 49%;
    transform: translateX(-50%);
    width: 490px !important;
  }
}

.aboutLeftImages {
  position: relative;
  width: 520px;
  bottom: 65px;
}

/* COMMON IMAGE */
.aboutImg {
  border-radius: 26px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.18);
}

.aboutImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* TOP IMAGE */
.aboutImg--top {
  width: 70%;
  height: 250px;
}

.aboutImg--bottom {
  width: 70%;
  height: 250px;
  position: absolute;
  left: 230px;
  bottom: -160px;
}


.aboutCenterCircle {
  position: absolute;
  left: 45%;
  top: 100%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  background: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 10;
}

.aboutCenterCircle img {
  width: 55%;
}

.centerIcon {
  width: 35px;
  height: 35px;
  background: linear-gradient(90deg,
      #E01C08 0%,
      #B11101 50%,
      #E01C08 100%);
  ;
  border-radius: 50%;
  position: relative;
}

/* INNER WHITE RING (CCTV DOT STYLE) */
.centerIcon::before {
  content: "";
  position: absolute;
  inset: 6px;
  border: 4px solid #fff;
  border-radius: 50%;
}

/* RED ICON */
.aboutCenterIcon {
  width: 44px;
  height: 44px;
  background: linear-gradient(90deg,
      #E01C08 0%,
      #B11101 50%,
      #E01C08 100%);
  border-radius: 50%;
  position: relative;
}

.aboutCenterIcon::after {
  content: "";
  position: absolute;
  inset: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
}

@media (max-width:1024.1px) and (min-width:500.1px) {

  .aboutImg--top,
  .aboutImg--bottom {
    width: 55% !important;
  }


}

@media (min-width:500.1px){
  .aboutLeftImagesForMobile {
    display: none;
  }

}

@media (max-width:500.1px) {
  .aboutLeftImagesForMobile {
    display: flex;
    justify-content: center;
  }

  .aboutExact__wrap{
    gap: 24px;
  }
  .aboutLeftImages{
    display: none;
  }

  .aboutLeftImagesForMobile img{
    width: 100%;
  }
}